.cuerpo {
  background-color: rgb(0,128,129);
}

.barra {
  background-color: rgba(151, 120, 91, 0.808);
}


.letra,
.letraColores {
  font-family: "Josefin Slab", serif;
}

.letraColores {
  color: black;
}

.logoNav {
  height: 5.5rem;
  width : 5.5rem;
}

* {
  padding        : 0%;
  margin         : 0%;
  box-sizing     : border-box;
  text-decoration: none;
}

.bg-beige {
  --bs-bg-opacity: 1 background-color: rgb(191, 179, 164);
}

.header {
  padding        : 1.5rem;
  display        : flex;
  justify-content: left;
  font-size      : 1.5rem;
}

.header ul {
  list-style-type: none;
  margin         : 0;
  padding        : 0;
  overflow       : hidden;
}

.header li a {
  display: flex;
  align-content: space-between;
  padding        : 1rem;
  text-decoration: none;
  color          : #110e0a;
}

.header li :hover {
  background: rgb(151,120,91);
background: radial-gradient(circle, rgba(151,120,91,0.6646008745294993) 26%, rgba(0,128,129,1) 100%);
}

.basket {
  display: flex;
  flex-direction: row;
}

.carrito {
  display: flex;
  
}



.main img {
  width        : auto;
  height       : 37rem;
  display      : block;
  margin       : auto;
  margin-top   : 3rem;
  margin-bottom: 3rem;
  padding      : auto;
}




.footer {
  height   : auto;
  width    : 100%;
  margin   : auto;
  padding  : 2.5rem;
  font-size: 1.5rem;
}

.footer a {
  text-decoration: none;
  color          : #110e0a;
}

.footer ul {
  display        : flex;
  justify-content: center;
}

.footer svg {
  height: 1.5rem;
  width : auto;
}

/* --- GRID -- */
.gridContainer {
  display              : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows   : 0.2fr 6fr 0.2fr;
  grid-template-areas  : 
  "header header header"
    "main main main"
    "footer footer footer";
  align-content: space-between;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (min-width:320px) {

  .main img {
    margin-top: 15rem;
    width: 100%;
    height: auto;
  }
}